@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000;
  --secondary-color: #a81c51;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 72px;
  overflow: hidden;
}
